# Reference configuration file for classifications

config reference: system \
    https://suricata.readthedocs.io/en/suricata-6.0.0/rules/intro.html#classification

config classification: not-suspicious,Not Suspicious Traffic,3
config classification: unknown,Unknown Traffic,3
config classification: bad-unknown,Potentially Bad Traffic,2
config classification: attempted-recon,Attempted Information Leak,2
config classification: successful-recon-limited,Information Leak,2
